PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/ums_database?retryWrites=true&w=majority
JWT_SECRET=super_secret_ums_jwt_token_key_2026_change_in_production
JWT_EXPIRE=24h
